<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>52071196214-sbc2mqc8cth2b2a1r1pjiili0oo4qhep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52071196214-sbc2mqc8cth2b2a1r1pjiili0oo4qhep</string>
	<key>API_KEY</key>
	<string>AIzaSyBehaqWATpMdSJLXuUjFOY4dTLKRepu1gQ</string>
	<key>GCM_SENDER_ID</key>
	<string>52071196214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.harshit.lifeos.app</string>
	<key>PROJECT_ID</key>
	<string>lifeos-63a2c</string>
	<key>STORAGE_BUCKET</key>
	<string>lifeos-63a2c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52071196214:ios:c0aedf0c37e32446b85a97</string>
</dict>
</plist>